# Overview of files not to upload to git

# Software used (R, snakemake), not to be uploaded
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
.snakemake
.gitignore

# Directories not to upload
heritability_contribution
logs
simulations # these are the subdirectories in every results directory (in main analyses, ALPINE_plug, or varying_params directory)
metrics # these are the subdirectories in every results directory (in main analyses, ALPINE_plug, or varying_params directory)
models

# Results not to upload
*.csv
*.tsv
